<div class='container'>
    <div class='row'>
        <div class='col-xs-4 col-xs-offset-4'>
            
            <h1>Hello World</h1>
            <%= link_to 'About', about_path %>
            <%= link_to 'Services', services_path %>

        </div>
    </div>
</div>
